* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 5%;
  position: fixed;
  z-index: 10;
}

@media screen and (min-width: 450px) and (max-width: 720px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
  }
}

.nav__logo {
  font-family: 'Dancing Script', cursive;
}

.nav__logo .logo__link {
  color: #111;
  text-decoration: none;
  font-size: 2.5rem;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

@media screen and (max-width: 450px) {
  .nav__list {
    display: none;
  }
}

.nav__list .list__item {
  -webkit-transition: 0.3s text-shadow, 0.3s -webkit-transform;
  transition: 0.3s text-shadow, 0.3s -webkit-transform;
  transition: 0.3s transform, 0.3s text-shadow;
  transition: 0.3s transform, 0.3s text-shadow, 0.3s -webkit-transform;
}

.nav__list .list__item .item__link {
  text-decoration: none;
  color: #aaa;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.nav__list .list__item .item__link:hover {
  color: #111;
}

.nav__list .list__item .item__link--active {
  color: #111;
}

.nav__list .list__item:hover {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  text-shadow: -5px 5px 2px #ddd;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.container--background {
  background-image: url("../assets/img/jumbotron.jpg");
  background-position: center;
  background-size: cover;
}

.container__title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px 0 50px 0;
  position: relative;
}

@media screen and (max-width: 1020px) {
  .container__title {
    font-size: 2rem;
  }
}

.container__title::before {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  background-color: #111;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 1020px) {
  .container__title::before {
    width: 50px;
  }
}

.container__title::after {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  background-color: #111;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 1020px) {
  .container__title::after {
    width: 50px;
  }
}

.header {
  width: 100%;
  min-height: 100vh;
  padding: 0 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0.4)), to(white));
  background-image: linear-gradient(rgba(255, 255, 255, 0.4) 30%, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .icons__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  background-color: #fcfcfc;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  padding: 30px 0;
}

@media screen and (max-width: 1020px) {
  .header .icons__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }
}

.header .icons__container .icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

@media screen and (max-width: 1020px) {
  .header .icons__container .icon {
    width: 30px;
    height: 30px;
  }
}

.header .icons__container .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .header__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
  padding: 50px 20px;
}

.header .header__items .header__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

@media screen and (max-width: 1020px) {
  .header .header__items .header__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .header .header__items .header__title {
    -webkit-transform: none;
            transform: none;
    display: none;
  }
}

.header .header__items .header__title::before {
  position: absolute;
  content: 'Photo';
  font-size: 80px;
  font-weight: 700;
  color: rgba(100, 100, 100, 0.3);
  top: -40px;
  left: -90px;
}

@media screen and (max-width: 1020px) {
  .header .header__items .header__title::before {
    font-size: 40px;
    top: -20px;
    left: -50px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__items .header__title::before {
    display: none;
  }
}

.header .header__items .header__title::after {
  position: absolute;
  content: 'graph';
  font-size: 80px;
  font-weight: 700;
  color: rgba(100, 100, 100, 0.3);
  top: 0;
  right: -90px;
  z-index: 0;
}

@media screen and (max-width: 1020px) {
  .header .header__items .header__title::after {
    font-size: 40px;
    right: -40px;
    top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__items .header__title::after {
    display: none;
  }
}

.header .header__items .header__paragraph {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  color: #222;
  border-top: 1px solid #666;
  padding-top: 10px;
  margin-bottom: 30px;
  font-weight: 300;
}

@media screen and (max-width: 1020px) {
  .header .header__items .header__paragraph {
    font-size: 0.8rem;
  }
}

.offer__container {
  padding: 10% 5%;
}

.offer__container .offer__title::before {
  -webkit-transform: translateX(-160%);
          transform: translateX(-160%);
}

@media screen and (max-width: 1020px) {
  .offer__container .offer__title::before {
    -webkit-transform: translateX(-220%);
            transform: translateX(-220%);
  }
}

.offer__container .offer__title::after {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

@media screen and (max-width: 1020px) {
  .offer__container .offer__title::after {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

.offer__container .rows__container {
  counter-reset: offers;
}

.offer__container .offer__row {
  width: 80%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .offer__container .offer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offer__container .offer__row .offer__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .offer__container .offer__row .offer__desc {
    text-align: right;
  }
}

.offer__container .offer__row .offer__desc h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

@media screen and (max-width: 1020px) {
  .offer__container .offer__row .offer__desc h3 {
    font-size: 1.2rem;
  }
}

.offer__container .offer__row .offer__desc p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

@media screen and (max-width: 1020px) {
  .offer__container .offer__row .offer__desc p {
    font-size: 0.8rem;
  }
}

.offer__container .offer__row .offer__desc::before {
  counter-increment: offers;
  position: absolute;
  content: counter(offers);
  color: rgba(150, 150, 150, 0.2);
  font-size: 250px;
  top: 0px;
  left: 20%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

@media screen and (max-width: 1020px) {
  .offer__container .offer__row .offer__desc::before {
    font-size: 150px;
    top: 20px;
  }
}

.offer__container .offer__row .offer__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  height: auto;
  width: 45%;
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
}

@media screen and (max-width: 600px) {
  .offer__container .offer__row .offer__img {
    display: none;
  }
}

.offer__container .offer__row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
  .offer__container .offer__row:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .offer__container .offer__row:nth-child(odd) .offer__desc {
    text-align: left;
  }
}

.portfolio__container {
  padding: 0 5%;
}

.portfolio__container .portfolio__title::before {
  -webkit-transform: translateX(-190%);
          transform: translateX(-190%);
}

@media screen and (max-width: 1020px) {
  .portfolio__container .portfolio__title::before {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}

.portfolio__container .portfolio__title::after {
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

@media screen and (max-width: 1020px) {
  .portfolio__container .portfolio__title::after {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

.pricing__container {
  padding: 5%;
  padding-bottom: 10%;
}

.pricing__container .pricing__title::before {
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}

@media screen and (max-width: 1020px) {
  .pricing__container .pricing__title::before {
    -webkit-transform: translateX(-260%);
            transform: translateX(-260%);
  }
}

.pricing__container .pricing__title::after {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

@media screen and (max-width: 1020px) {
  .pricing__container .pricing__title::after {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
}

.pricing__container .pricing__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 770px) {
  .pricing__container .pricing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing__container .pricing__row .row__item {
  border: 5px solid #222;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin: 20px;
}

@media screen and (max-width: 770px) {
  .pricing__container .pricing__row .row__item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 80%;
  }
}

.pricing__container .pricing__row .row__item .item__header {
  text-align: center;
  color: #FAFAFA;
  background-color: #222;
  padding: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 1020px) {
  .pricing__container .pricing__row .row__item .item__header {
    font-size: 1rem;
  }
}

.pricing__container .pricing__row .row__item .item__desc ul {
  list-style-type: none;
  padding: 20px;
  font-weight: 300;
}

.pricing__container .pricing__row .row__item .item__desc ul li {
  line-height: 150%;
  padding-left: 15px;
  position: relative;
}

@media screen and (max-width: 1020px) {
  .pricing__container .pricing__row .row__item .item__desc ul li {
    font-size: 0.8rem;
  }
}

.pricing__container .pricing__row .row__item .item__desc ul li::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 1px;
  background-color: #222;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pricing__container .pricing__row .row__item .item__price {
  text-align: center;
  font-size: 3rem;
  padding: 20px 10px;
  position: relative;
  font-weight: 700;
}

@media screen and (max-width: 1020px) {
  .pricing__container .pricing__row .row__item .item__price {
    font-size: 1.5rem;
  }
}

.pricing__container .pricing__row .row__item .item__price::before {
  position: absolute;
  content: '';
  width: 60%;
  height: 2px;
  background-color: #222;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing__container .pricing__row .row__item--awarded {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 5;
  border-color: #E5AD21;
  background-color: #fff;
}

.pricing__container .pricing__row .row__item--awarded .item__header {
  background-color: #E5AD21;
}

.contact {
  background-color: #222;
}

.contact__form {
  padding: 5%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form .contact__title::before {
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
  background-color: #fff;
}

@media screen and (max-width: 1020px) {
  .contact__form .contact__title::before {
    -webkit-transform: translateX(-260%);
            transform: translateX(-260%);
  }
}

.contact__form .contact__title::after {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  background-color: #fff;
}

@media screen and (max-width: 1020px) {
  .contact__form .contact__title::after {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
}

.contact__form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form .form__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  width: 70%;
  margin: 10px 0;
  font-size: 1rem;
  padding: 10px;
  font-weight: 700;
  background-color: #222;
  border: 1px solid #aaa;
  border-bottom-width: 5px;
  outline-color: #E5AD21;
  color: #ddd;
  -webkit-transition: 0.3s border-bottom-color, 0.3s outline-color;
  transition: 0.3s border-bottom-color, 0.3s outline-color;
}

.contact__form .form__item:hover {
  border-bottom-color: #E5AD21;
}

.contact__form .form__item:focus {
  border-bottom-color: #E5AD21;
}

.contact__form .form__button {
  width: 150px;
  background-color: #222;
  color: #ddd;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #aaa;
  border-bottom-width: 5px;
  outline-color: #E5AD21;
  margin: 20px 0;
  -webkit-transition: 0.3s border-bottom-color, 0.3s outline-color;
  transition: 0.3s border-bottom-color, 0.3s outline-color;
}

.contact__form .form__button:hover {
  border-bottom-color: #E5AD21;
}

.contact__form .form__button:focus {
  border-bottom-color: #E5AD21;
}

.contact__footer {
  padding: 20px;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  background-color: #262626;
}

.contact__footer a {
  color: #ff4ef0;
}

.button {
  width: 200px;
  border: 2px solid #111;
  border-bottom: 10px solid #111;
  background-color: rgba(10, 10, 10, 0);
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #222;
  cursor: pointer;
  -webkit-transition: 0.3s border-bottom, 0.3s border-top;
  transition: 0.3s border-bottom, 0.3s border-top;
}

@media screen and (max-width: 1020px) {
  .button {
    width: 150px;
    font-size: 0.8rem;
  }
}

.button:hover {
  border-bottom: 2px solid #111;
  border-top: 10px solid #111;
}
/*# sourceMappingURL=style.css.map */