* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 5%;
  position: fixed;
  z-index: 10;
}

.nav__logo {
  font-family: 'Dancing Script', cursive;
}

.nav__logo .logo__link {
  color: #111;
  text-decoration: none;
  font-size: 2.5rem;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.nav__list .list__item {
  -webkit-transition: 0.3s text-shadow, 0.3s -webkit-transform;
  transition: 0.3s text-shadow, 0.3s -webkit-transform;
  transition: 0.3s transform, 0.3s text-shadow;
  transition: 0.3s transform, 0.3s text-shadow, 0.3s -webkit-transform;
}

.nav__list .list__item .item__link {
  text-decoration: none;
  color: #aaa;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.nav__list .list__item .item__link:hover {
  color: #111;
}

.nav__list .list__item .item__link--active {
  color: #111;
}

.nav__list .list__item:hover {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  text-shadow: -5px 5px 2px #ddd;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.container--background {
  background-image: url(/assets/img/jumbotron.jpg);
  background-position: center;
  background-size: cover;
}

.container__title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px 0 50px 0;
  position: relative;
}

.container__title::before {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  background-color: #111;
  top: 50%;
  left: 50%;
}

.container__title::after {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  background-color: #111;
  top: 50%;
  left: 50%;
}

.header {
  width: 100%;
  min-height: 100vh;
  padding: 0 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

.header .header__title::before {
  position: absolute;
  content: 'Photo';
  font-size: 80px;
  font-weight: 700;
  color: rgba(100, 100, 100, 0.3);
  top: -40px;
  left: -90px;
}

.header .header__title::after {
  position: absolute;
  content: 'graph';
  font-size: 80px;
  font-weight: 700;
  color: rgba(100, 100, 100, 0.3);
  top: 0;
  right: -90px;
  z-index: 0;
}

.header__paragraph {
  width: 70%;
  text-align: center;
  font-size: 1.2rem;
  color: #222;
  border-top: 1px solid #666;
  padding-top: 10px;
  margin-bottom: 30px;
}

.offer__container {
  padding: 10% 5%;
}

.offer__container .offer__title::before {
  -webkit-transform: translateX(-160%);
          transform: translateX(-160%);
}

.offer__container .offer__title::after {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.offer__container .rows__container {
  counter-reset: offers;
}

.offer__container .offer__row {
  width: 80%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__container .offer__row .offer__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  text-align: center;
  position: relative;
}

.offer__container .offer__row .offer__desc h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.offer__container .offer__row .offer__desc p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

.offer__container .offer__row .offer__desc::before {
  counter-increment: offers;
  position: absolute;
  content: counter(offers);
  color: rgba(150, 150, 150, 0.2);
  font-size: 250px;
  top: 0px;
  left: 20%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.offer__container .offer__row .offer__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  height: auto;
  width: 45%;
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
}

.offer__container .offer__row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio__container {
  padding: 0 5%;
}

.portfolio__container .portfolio__title::before {
  -webkit-transform: translateX(-190%);
          transform: translateX(-190%);
}

.portfolio__container .portfolio__title::after {
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

.pricing__container {
  padding: 5%;
}

.pricing__container .pricing__title::before {
  -webkit-transform: translateX(-170%);
          transform: translateX(-170%);
}

.pricing__container .pricing__title::after {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

.button {
  width: 250px;
  border: 0px solid #111;
  border-radius: 5px;
  background-color: #222;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #ddd;
  cursor: pointer;
  -webkit-transition: 0.3s -webkit-transform, 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-transform, 0.3s -webkit-box-shadow;
  transition: 0.3s transform, 0.3s box-shadow;
  transition: 0.3s transform, 0.3s box-shadow, 0.3s -webkit-transform, 0.3s -webkit-box-shadow;
}

.button:hover {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-box-shadow: -5px 5px 5px #aaa;
          box-shadow: -5px 5px 5px #aaa;
}
/*# sourceMappingURL=style.css.map */